.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);

  &:before {
    content: url('https://api.iconify.design/ei/spinner.svg?color=white&width=50&height=50');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: rotate 2s infinite cubic-bezier(0.215, 0.61, 0.255, 1);
    animation: rotate 2s infinite cubic-bezier(0.215, 0.61, 0.255, 1);
  }

  @-webkit-keyframes rotate {
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @keyframes rotate {
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
